@page
@using EvArkadasim.Localization
@using Microsoft.Extensions.Localization
@model EvArkadasim.Web.Pages.Account.LoginModel
@inject IStringLocalizer<EvArkadasimResource> L
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
    var navigationModel = new EvArkadasim.Web.Models.NavigationModel() { BasePageName = "Home", BasePageLink = "/Home", CurrentPageName = "Login" };
}

<!-- NAVIGATION START -->

<partial name="~/Pages/Admin/Shared/_Navigation.cshtml" model="navigationModel" />

<!-- NAVIGATION END -->

<div class="container" style="margin-top:100px; margin-bottom:100px;">
    <div class="row">
        <div class="col-3 col-sm-3 col-md-3 col-lg-3">
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-6">
            <form method="post" href="/Account/CompanyLogin">
                @(await Component.InvokeAsync<Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic.Themes.Basic.Components.PageAlerts.PageAlertsViewComponent>())
                <div class="row">
                    <abp-input asp-for="UserLoginInputModel.Email" class="input-lg" label="@L["Email"]" />
                    <abp-input asp-for="UserLoginInputModel.Password" class="input-lg" label="@L["Password"]" />
                </div>
                <div class="row" style="margin-top:40px;">
                    <div class="text-center col-12 col-sm-12 col-md-12 col-lg-12 mt-2">
                        <abp-button text="@L["Login"]" type="submit" class="btn-nice" button-type="Primary" />
                        <p style="margin-top:20px;">
                            <a href="#" id="CompanyRecoverPassword">@L["ForgotYourPassword"]</a> &nbsp; | &nbsp;
                            <a href="/Account/Register">@L["WantToBeRegister"]</a>
                        </p>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-3 col-sm-3 col-md-3 col-lg-3">
        </div>
    </div>
</div>
